<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kimagemapeditor" version="16">
 <MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Merge/>
  </Menu>
  <Menu name="settings">
    <DefineGroup name="settings_show" append="show_merge"/>
    <DefineGroup name="settings_configure" append="configure_merge"/>
  </Menu>
  <Merge/>
 </MenuBar>
 <StatusBar/>
 <ToolBar noMerge="1" name="mainToolBar">
  <text>KImageMapEditor Main Toolbar</text>
 	<Action name="file_new" /> 
 </ToolBar>
</kpartgui>







