# KDE Config File
[Desktop Entry]
Type=Application
MimeType=text/html
Exec=kimagemapeditor -caption "%c" %i %m  
Icon=kimagemapeditor.png
MiniIcon=kimagemapeditor.png
Comment=
Comment[xx]=xxxx
Terminal=0
Name=KImageMapEditor
GenericName=HTML Image Map Editor
