[Desktop Entry]
Type=Application
MimeType=text/html;
Exec=kimagemapeditor -caption "%c" %i
Icon=kimagemapeditor
Terminal=false
Name=KImageMapEditor
Name[ne]=केडीई छवि मानचित्र सम्पादक
Name[pt_BR]=KEditor de Mapeamento de Imagem
Name[sk]=KImage editor mapy
Name[sv]=Kimagemapeditor
Name[ta]=Kவடிவம் வரைப்படம் திருத்தி
Name[tg]=KМуҳаррири тасвири ҳарита
Name[x-test]=xxKImageMapEditorxx
GenericName=HTML Image Map Editor
GenericName[ca]=Un editor de mapes d'imatge HTML
GenericName[cs]=Editor HTML map
GenericName[da]=HTML editor af kortbilleder
GenericName[de]=Editor für HTML-Bildkarten (Imagemaps)
GenericName[el]=HTML επεξεργαστής εικόνων
GenericName[es]=Editor de mapas de imágenes HTML
GenericName[et]=Hüperpildiredaktor
GenericName[eu]=HTML irudi-mapa editorea
GenericName[fa]=ویرایشگر نگاشت تصویر زنگام
GenericName[fi]=HTML-kuvaeditori
GenericName[fr]=Éditeur d'hyperimages HTML
GenericName[ga]=Eagarthóir Mapaí Íomhá HTML
GenericName[gl]=Editor de mapas de imaxes HTML
GenericName[hu]=HTML-térképszerkesztő
GenericName[is]=HTML myndakortsritill
GenericName[it]=Editor per le mappe di immagini HTML
GenericName[ja]=HTML イメージマップエディタ
GenericName[lt]=HTML paveikslėlių žemėlapių rengyklė
GenericName[ms]=Penyunting Peta Imej HTML
GenericName[nds]=Editor för HTML-Bildkoorten
GenericName[ne]=एचटीएमएल छवि मानचित्र सम्पादक
GenericName[nl]=HTML imagemap editor
GenericName[pl]=Edytor map obrazków HTML
GenericName[pt]=Editor de Mapas de Imagem HTML
GenericName[pt_BR]=Editor de Mapeamento de Imagem HTML
GenericName[sk]=Editor HTML mapy obrázkov
GenericName[sl]=Urejevalnik slikovnih zemljevidov v HTML
GenericName[sr]=Уређивач HTML сликовне мапе
GenericName[sr@latin]=Uređivač HTML slikovne mape
GenericName[sv]=Redigering av HTML-bildkartor
GenericName[ta]=HTML வடிவம் வரைப்படம் திருத்தி
GenericName[tg]=Муҳаррири тасвири ҳаритаи HTML
GenericName[tr]=HTML Resim Haritası Düzenleyicisi
GenericName[uk]=Penyunting Peta Imej HTML
GenericName[x-test]=xxHTML Image Map Editorxx
GenericName[zh_CN]=HTML 图像映射编辑器
GenericName[zh_HK]=HTML 影像地圖編輯器
GenericName[zh_TW]=HTML 影像地圖編輯器
Categories=Qt;KDE;Development;WebDevelopment;
