[Desktop Entry]
Type=Service
Encoding=UTF-8
MimeType=text/html
Icon=kimagemapeditor
ServiceTypes=KParts/ReadWritePart
X-KDE-Library=libkimagemapeditor
Comment=An HTML imagemap editor
Comment[x-test]=xxAn HTML imagemap editorxx
Name=KImageMapEditor
Name[x-test]=xxKImageMapEditorxx
