[Desktop Entry]
Type=Service
MimeType=text/html;
Icon=kimagemapeditor
X-KDE-ServiceTypes=KParts/ReadWritePart
X-KDE-Library=libkimagemapeditor
Comment=An HTML imagemap editor
Name=KImageMapEditor
