[Desktop Entry]
Type=Service
Encoding=UTF-8
MimeType=text/html
Icon=kimagemapeditor
ServiceTypes=KParts/ReadWritePart
X-KDE-Library=libkimagemapeditor
Comment=An HTML imagemap editor
Comment[bg]=Редактор на изображения-карти за HTML
Comment[ca]=Un editor de correspondències a imatges HTML
Comment[da]=En HTML-editor af billedkort
Comment[de]=Ein Editor für HTML-Imagemaps
Comment[es]=Un editor de mapas de imágenes HTML
Comment[et]=HTML pildikaadri redaktor
Comment[fr]=Éditeur d'hyperimages HTML
Comment[hu]=HTML-térképszerkesztő
Comment[it]=Un editor per le mappe di immagini HTML
Comment[ja]=HTMLイメージマップエディタ
Comment[ms]=Penyunting Peta Imej HTML
Comment[nl]=Een hulpmiddel om HTML imagemaps te maken
Comment[pl]=Edytor map obrazków HTML
Comment[pt]=Editor de Mapas de Imagem HTML
Comment[pt_BR]=Um editor de mapeamento de imagem HTML
Comment[ru]=Редактор HTML imagemap
Comment[sl]=Urejevalnik slikovnih zemljevidov v HTML
Comment[sr]=Уређивач HTML сликовне мапе
Comment[sv]=En editor för HTML-bildkartor
Comment[ta]=An HTML வடிவம் வரைப்படம் திருத்தி
Comment[tg]=Муҳаррири тасвири ҳаритаи HTML
Comment[tr]=Bir HTML resim_haritası düzenleyicisi
Comment[xx]=xxAn HTML imagemap editorxx
Comment[zh_CN]=HTML 图像映射编辑器
Name=KImageMapEditor
Name[pt_BR]=KEditor de Mapeamento de Imagem
Name[sv]=Kimagemapeditor
Name[ta]=Kவடிவம் வரைப்படம் திருத்தி
Name[tg]=KМуҳаррири тасвири ҳарита
Name[tr]=K Resim Haritası Düzenleyicisi
Name[xx]=xxKImageMapEditorxx
