[Desktop Entry]
Type=Application
Encoding=UTF-8
MimeType=text/html
Exec=kimagemapeditor -caption "%c" %i %m
Icon=kimagemapeditor
Terminal=false
Name=KImageMapEditor
Name[pt_BR]=KEditor de Mapeamento de Imagem
Name[sv]=Kimagemapeditor
Name[ta]=Kவடிவம் வரைப்படம் திருத்தி
Name[tg]=KМуҳаррири тасвири ҳарита
Name[tr]=K Resim Haritası Düzenleyicisi
Name[xx]=xxKImageMapEditorxx
GenericName=HTML Image Map Editor
GenericName[ca]=Un editor de correspondències a imatges HTML
GenericName[da]=HTML editor af kortbilleder
GenericName[de]=Editor für HTML-Imagemaps
GenericName[es]=Editor de mapas de imágenes HTML
GenericName[et]=Hüperpildiredaktor
GenericName[fi]=HTML-kuvaeditori
GenericName[fr]=Éditeur d'hyperimages HTML
GenericName[hu]=HTML-térképszerkesztő
GenericName[is]=HTML myndakortsritill
GenericName[it]=Editor per le mappe di immagini HTML
GenericName[ja]=HTMLイメージマップエディター
GenericName[ms]=Penyunting Peta Imej HTML
GenericName[nl]=HTML imagemap editor
GenericName[pl]=Edytor map obrazków HTML
GenericName[pt]=Editor de Mapas de Imagem HTML
GenericName[pt_BR]=Editor de Mapeamento de Imagem HTML
GenericName[sl]=Urejevalnik slikovnih zemljevidov v HTML
GenericName[sr]=Уређивач HTML сликовне мапе
GenericName[sr@Latn]=Уређивач HTML сликовне мапе
GenericName[sv]=Redigering av HTML-bildkartor
GenericName[ta]=HTML வடிவம் வரைப்படம் திருத்தி
GenericName[tg]=Муҳаррири тасвири ҳаритаи HTML
GenericName[tr]=HTML Resim Haritası Düzenleyicisi
GenericName[uk]=Редактор карт зображень HTML
GenericName[xx]=xxHTML Image Map Editorxx
GenericName[zh_CN]=HTML 图像映射编辑器
Categories=Qt;KDE;Development;
