[Desktop Entry]
Type=Application
MimeType=text/html;
Exec=kimagemapeditor -qwindowtitle %c %i %F
Icon=kimagemapeditor
Terminal=false
Name=KImageMapEditor
Name[bg]=KImageMapEditor
Name[br]=KImageMapEditor
Name[bs]=KImageMapEditor
Name[ca]=KImageMapEditor
Name[ca@valencia]=KImageMapEditor
Name[cs]=KImageMapEditor
Name[cy]=KImageMapEditor
Name[da]=KImageMapEditor
Name[de]=KImageMapEditor
Name[el]=KImageMapEditor
Name[en_GB]=KImageMapEditor
Name[es]=KImageMapEditor
Name[et]=KImageMapEditor
Name[eu]=KImageMapEditor
Name[fi]=KImageMapEditor
Name[fr]=KImageMapEditor
Name[ga]=KImageMapEditor
Name[gl]=KImageMapEditor
Name[he]=KImageMapEditor
Name[hi]=के-इमेज-मैप-एडिटर
Name[hne]=के-इमेज-मैप-एडिटर
Name[hu]=KImageMapEditor
Name[is]=KImageMapEditor
Name[it]=KImageMapEditor
Name[ja]=KImageMapEditor
Name[kk]=KImageMapEditor
Name[ko]=KImageMapEditor
Name[lt]=KImageMapEditor
Name[lv]=KImageMapEditor
Name[ms]=KImageMapEditor
Name[nb]=KImageMapRedigerer
Name[nds]=KImageMapEditor
Name[ne]=केडीई छवि मानचित्र सम्पादक
Name[nl]=KImageMapEditor
Name[nn]=KImageMapEditor
Name[pa]=KImageMapEditor
Name[pl]=KImageMapEditor
Name[pt]=KImageMapEditor
Name[pt_BR]=KImageMapEditor
Name[ro]=KImageMapEditor
Name[ru]=KImageMapEditor
Name[sk]=KImage editor mapy
Name[sl]=KImageMapEditor
Name[sv]=Kimagemapeditor
Name[ta]=Kவடிவம் வரைப்படம் திருத்தி
Name[tg]=KМуҳаррири тасвири ҳарита
Name[th]=KImageMapEditor
Name[tr]=KImageMapEditor
Name[ug]=KImageMapEditor
Name[uk]=KImageMapEditor
Name[x-test]=xxKImageMapEditorxx
Name[zh_CN]=KImageMapEditor
Name[zh_HK]=KImageMapEditor
Name[zh_TW]=KImageMapEditor
GenericName=HTML Image Map Editor
GenericName[bg]=Маркирани изображения в HTML
GenericName[bs]=Uređivač mapa slika za HTML
GenericName[ca]=Un editor de correspondències a imatges amb HTML
GenericName[ca@valencia]=Un editor de correspondències a imatges amb HTML
GenericName[cs]=Editor HTML map
GenericName[da]=HTML editor af kortbilleder
GenericName[de]=Editor für HTML-Bildkarten (Imagemaps)
GenericName[el]=HTML επεξεργαστής εικόνων
GenericName[en_GB]=HTML Image Map Editor
GenericName[es]=Editor de mapas de imágenes HTML
GenericName[et]=Hüperpildiredaktor
GenericName[eu]=HTML irudi-mapa editorea
GenericName[fa]=ویرایشگر نگاشت تصویر زنگام
GenericName[fi]=HTML-kuvamuokkain
GenericName[fr]=Éditeur de carte d'images HTML
GenericName[ga]=Eagarthóir Mapaí Íomhá HTML
GenericName[gl]=Editor de mapas de imaxes HTML
GenericName[he]=עורך מפת תמונת HTML
GenericName[hi]=एचटीएमएल इमेज मैप संपादक
GenericName[hne]=एचटीएमएल इमेज मैप संपादक
GenericName[hu]=HTML képtérkép szerkesztő
GenericName[is]=HTML myndakortsritill
GenericName[it]=Editor per le mappe di immagini HTML
GenericName[ja]=HTML イメージマップエディタ
GenericName[kk]=HTML кескінін сілтемелейтін қылу редакторы
GenericName[ko]=HTML 이미지 맵 편집기
GenericName[lt]=HTML paveikslėlių žemėlapių rengyklė
GenericName[lv]=HTML attēlu karšu redaktors
GenericName[ms]=Penyunting Peta Imej HTML
GenericName[nb]=HTML bildekart-redigering
GenericName[nds]=Editor för HTML-Bildkoorten
GenericName[ne]=एचटीएमएल छवि मानचित्र सम्पादक
GenericName[nl]=HTML imagemap editor
GenericName[nn]=HTML-biletkartredigering
GenericName[pl]=Edytor map obrazków HTML
GenericName[pt]=Editor de Mapas de Imagem HTML
GenericName[pt_BR]=Editor de mapeamento de imagem HTML
GenericName[ru]=Редактор табличных изображений HTML
GenericName[sk]=Editor HTML mapy obrázkov
GenericName[sl]=Urejevalnik slikovnih zemljevidov v HTML
GenericName[sv]=Redigering av HTML-bildkartor
GenericName[ta]=HTML வடிவம் வரைப்படம் திருத்தி
GenericName[tg]=Муҳаррири тасвири ҳаритаи HTML
GenericName[th]=โปรแกรมแก้ไข Image Map
GenericName[tr]=HTML Resim Haritası Düzenleyicisi
GenericName[ug]=HTML رەسىم خەرىتىسى تەھرىرلىگۈچ
GenericName[uk]=Редактор карт зображень HTML
GenericName[x-test]=xxHTML Image Map Editorxx
GenericName[zh_CN]=HTML 图像映射编辑器
GenericName[zh_HK]=HTML 影像地圖編輯器
GenericName[zh_TW]=HTML 影像地圖編輯器
Categories=Qt;KDE;Development;WebDevelopment;
